body{
    background-color: aqua;
}

h1{
    color: bisque;
    margin-left: 20px;
}
p{
    color: red
}

#ban{
    color: blue;
}

#menu{
    color: aquamarine;
}

#content{
    color: black;
}

#footer{
    color: brown;
}